RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.imoveisbs\.com\.br$ [NC]
RewriteRule ^(.*)$ https://www.imoveisbs.com.br/$1 [L,R=301]
RewriteCond %{REQUEST_URI} !imobiliaria/
RewriteRule (.*) /imobiliaria/$1 [L]